VITE_SUPABASE_URL=https://nvkpwtvihrduwhvowqle.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52a3B3dHZpaHJkdXdodm93cWxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA0NTQzMTAsImV4cCI6MjA0NjAzMDMxMH0.55Fny6yHXwa3_WuUQKvGS4dAEZoCFOu9BRereirwFvE